@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.letra {
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    font-size: 25px;
   color: #D3DA31;
    font-weight: bold;
    letter-spacing: 10px;
}

.letratabla{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
   color: #D3DA31;
    font-weight: bold;
   
}

.boton{
    margin-top: 50px;
    margin-right: 100px;
}
.spawn{
    color: #D3DA31;; 
}